<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558955224418-ns1a1ec11npo71qe5jrcp2dbldv7qsnj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558955224418-ns1a1ec11npo71qe5jrcp2dbldv7qsnj</string>
	<key>API_KEY</key>
	<string>AIzaSyB3xBqCod90YY-P8gK1O_tu1Abz2-lOKV4</string>
	<key>GCM_SENDER_ID</key>
	<string>558955224418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example</string>
	<key>PROJECT_ID</key>
	<string>test-db-5ff6b</string>
	<key>STORAGE_BUCKET</key>
	<string>test-db-5ff6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558955224418:ios:43fdb8195fb6eb101ea03b</string>
</dict>
</plist>